<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin_layout.html}">

<div th:fragment="content">
  <main id="content" class="main-content">
    <div class="dashboard-page-content">
      <div class="container mt-5">
        <h2>Create New Discount</h2>
        <form th:action="@{/admin/creatediscount}" method="post">
          <div class="mb-3">
            <label for="voucher" class="form-label">Voucher</label>
            <input type="text" class="form-control" id="voucher" name="voucher" required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" required>
          </div>
          <div class="mb-3">
            <label for="discountPercentage" class="form-label">Discount Percentage</label>
            <input type="number" class="form-control" id="discountPercentage" name="discountPercentage" required>
          </div>
          <div class="mb-3">
            <label for="startDate" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="startDate" name="startDate" required>
          </div>
          <div class="mb-3">
            <label for="endDate" class="form-label">End Date</label>
            <input type="date" class="form-control" id="endDate" name="endDate" required>
          </div>
          <div class="mb-3">
            <label for="createDate" class="form-label">Create Date</label>
            <input type="date" class="form-control" id="createDate" name="createDate" required>
          </div>
          <div class="d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-primary">Save Discount</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
</html>
