<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin_layout}">

<main id="content" class="bg-body-tertiary-01 d-flex flex-column main-content" th:fragment="content">
  <div class="dashboard-page-content">

    <div class="row mb-9 align-items-center justify-content-between">

      <div class="col-md-6 mb-8 mb-md-0">
        <h2 class="fs-4 mb-0">Discount List</h2>
      </div>
      <div class="col-md-6 d-flex flex-wrap justify-content-md-end">
        <a th:href="@{/admin/adddiscount}" class="btn btn-primary">
          Create new
        </a>
      </div>
    </div>

    <div class="card mb-4 rounded-4 p-7">
      <div class="card-header bg-transparent px-0 pt-0 pb-7">
        <div class="row align-items-center justify-content-between">
          <div class="row col-md-6" style="margin-left: 0; margin-bottom: 5px">
          </div>
          <div class="col-md-6" style="margin-bottom: 5px">
            <div class="row justify-content-end flex-nowrap d-flex">
            </div>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pt-7 pb-0">
        <div class="table-responsive">
          <table class="table table-hover align-middle table-nowrap mb-0">
            <thead>
            <tr>
              <th>Voucher</th>
              <th>Description</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Created Date</th>
              <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="discount : ${discounts}">
              <td>
                <div class="d-flex align-items-center flex-nowrap">
                  <a th:title="${discount.getVoucher()}" class="ms-6">
                    <p class="fw-semibold text-body-emphasis mb-0" th:text="${discount.getVoucher()}"></p>
                  </a>
                </div>
              </td>
              <td th:text="${discount.getDescription()}"></td>
              <td th:text="${discount.getStartDate()}"></td>
              <td th:text="${discount.getEndDate()}"></td>
              <td th:text="${discount.getCreateDate()}"></td>
              <td class="text-center">
                <div class="d-flex flex-nowrap justify-content-center">
                  <a th:href="@{/admin/editdiscount/{id}(id=${discount.discountId})}" class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i class="far fa-pen me-2"></i> Edit</a>
                  <a th:href="@{/admin/deletediscount/{id}(id=${discount.discountId})}" class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i class="far fa-trash me-2"></i> Delete</a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <nav aria-label="Page navigation example" class="mt-6 mb-4">
      <ul class="pagination justify-content-start">
        <li class="page-item active mx-3"><a class="page-link" href="#">01</a></li>
        <li class="page-item mx-3"><a class="page-link" href="#">02</a></li>
        <li class="page-item mx-3"><a class="page-link" href="#">03</a></li>
        <li class="page-item mx-3"><a class="page-link dot" href="#">...</a></li>
        <li class="page-item mx-3"><a class="page-link" href="#">16</a></li>
        <li class="page-item mx-3">
          <a class="page-link" href="#"><i class="far fa-chevron-right"></i></a>
        </li>
      </ul>
    </nav>
  </div>
  <footer class="pt-6 pb-10 footer-dashboard mt-auto">
    <div class="row">
      <div class="col-sm-6 text-sm-start text-center">
        <script>
          document.write(new Date().getFullYear());
        </script>
        © Glowing - Beauty & Cosmetics Shop HTML Template .
      </div>
      <div class="col-sm-6 text-sm-end text-center">
        All rights reserved
      </div>
    </div>
  </footer>
</main>
