<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin_layout}">

<main id="content" class="bg-body-tertiary-01 d-flex flex-column main-content" th:fragment="content">
    <div class="dashboard-page-content">

        <div class="row mb-9 align-items-center justify-content-between">

            <div class="col-md-6 mb-8 mb-md-0">
                <h2 class="fs-4 mb-0">Product List</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-md-6 d-flex flex-wrap justify-content-md-end">


                <a href="#" class="btn btn-outline-primary btn-hover-bg-primary me-4">
                    Export
                </a>

                <a href="#" class="btn btn-outline-primary btn-hover-bg-primary me-4">
                    Import
                </a>

                <a href="#" class="btn btn-primary">
                    Create new
                </a>

            </div>
        </div>


        <div class="card mb-4 rounded-4 p-7">
            <div class="card-header bg-transparent px-0 pt-0 pb-7">
                <div class="row align-items-center justify-content-between">
                    <div class="row col-md-6" style="margin-left: 0; margin-bottom: 5px">
<!--                        <select class="form-select" id="categorySelect">-->
<!--                                <option selected="" data-select2-id="3">All Categories</option>-->
<!--                                <th:block th:each="category : ${categories}">-->
<!--                                    <option th:value="${category.categoryId}" th:text="${category.cateName}"></option>-->
<!--                                </th:block>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    <div class="row col-md-3">-->
                            <select class="form-select" id="subcategorySelect">
                                <option selected="" data-select2-id="3">All Subcategories</option>
                                <th:block th:each="subcategory : ${subcategories}">
                                    <option th:value="${subcategory.subCateId}"
                                            th:text="${subcategory.subCateName}"></option>
                                </th:block>
                            </select>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 5px">
                        <div class="row justify-content-end flex-nowrap d-flex">
                            <div class="col-lg-4 col-md-6 col-6">
                                <input type="date" class="form-control bg-input border-0" id="dateSelect">
                            </div>
                            <div class="col-lg-4 col-md-6 col-6">
                                <select class="form-select" id="statusSelect">
                                    <option>Status</option>
                                    <option value="1">Active</option>
                                    <option value="0">Disabled</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-7 pb-0">
                <div class="table-responsive">
                    <table class="table table-hover align-middle table-nowrap mb-0">
                        <tbody>


                        <tr>
                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input rounded-0 ms-0" type="checkbox"
                                           id="transactionCheck-0">
                                    <label class="form-check-label"
                                           for="transactionCheck-0"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <a href="../shop/product-details-v1.html"
                                       title="Flowers cotton dress">
                                        <img src="#"
                                             data-src="../assets/images/products/product-03-75x100.jpg"
                                             alt="Flowers cotton dress" class="lazy-image" width="60"
                                             height="80">
                                    </a>
                                    <a href="../shop/product-details-v1.html"
                                       title="Flowers cotton dress" class="ms-6">
                                        <p class="fw-semibold text-body-emphasis mb-0">Flowers
                                            cotton dress</p>
                                    </a>
                                </div>
                            </td>


                            <td>$44.25</td>


                            <td>
													<span
                                                            class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-success border-0 text-capitalize fs-12">Active</span>
                            </td>


                            <td>02.11.2021</td>


                            <td class="text-center">
                                <div class="d-flex flex-nowrap justify-content-center">
                                    <a href="add-product-1.html"
                                       class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                            class="far fa-pen me-2"></i> Edit</a>
                                    <a href="#"
                                       class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i
                                            class="far fa-trash me-2"></i> Delete</a>
                                </div>
                            </td>

                        </tr>

                        <tr>

                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input rounded-0 ms-0" type="checkbox"
                                           id="transactionCheck-1">
                                    <label class="form-check-label"
                                           for="transactionCheck-1"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <a href="../shop/product-details-v1.html"
                                       title="Hoodie with pocket">
                                        <img src="#"
                                             data-src="../assets/images/products/product-04-75x100.jpg"
                                             alt="Hoodie with pocket" class="lazy-image" width="60"
                                             height="80">
                                    </a>
                                    <a href="../shop/product-details-v1.html"
                                       title="Hoodie with pocket" class="ms-6">
                                        <p class="fw-semibold text-body-emphasis mb-0">Hoodie with
                                            pocket</p>
                                    </a>
                                </div>
                            </td>


                            <td>$7.50</td>


                            <td>
													<span
                                                            class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-success border-0 text-capitalize fs-12">Active</span>
                            </td>


                            <td>02.11.2021</td>


                            <td class="text-center">
                                <div class="d-flex flex-nowrap justify-content-center">
                                    <a href="add-product-1.html"
                                       class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                            class="far fa-pen me-2"></i> Edit</a>
                                    <a href="#"
                                       class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i
                                            class="far fa-trash me-2"></i> Delete</a>
                                </div>
                            </td>

                        </tr>

                        <tr>

                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input rounded-0 ms-0" type="checkbox"
                                           id="transactionCheck-2">
                                    <label class="form-check-label"
                                           for="transactionCheck-2"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <a href="../shop/product-details-v1.html"
                                       title="Oversize cotton sweatshirt">
                                        <img src="#"
                                             data-src="../assets/images/products/product-06-75x100.jpg"
                                             alt="Oversize cotton sweatshirt" class="lazy-image"
                                             width="60" height="80">
                                    </a>
                                    <a href="../shop/product-details-v1.html"
                                       title="Oversize cotton sweatshirt" class="ms-6">
                                        <p class="fw-semibold text-body-emphasis mb-0">Oversize
                                            cotton sweatshirt</p>
                                    </a>
                                </div>
                            </td>


                            <td>$43.50</td>


                            <td>
													<span
                                                            class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-success border-0 text-capitalize fs-12">Active</span>
                            </td>


                            <td>02.11.2021</td>


                            <td class="text-center">
                                <div class="d-flex flex-nowrap justify-content-center">
                                    <a href="add-product-1.html"
                                       class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                            class="far fa-pen me-2"></i> Edit</a>
                                    <a href="#"
                                       class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i
                                            class="far fa-trash me-2"></i> Delete</a>
                                </div>
                            </td>

                        </tr>

                        <tr>

                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input rounded-0 ms-0" type="checkbox"
                                           id="transactionCheck-3">
                                    <label class="form-check-label"
                                           for="transactionCheck-3"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <a href="../shop/product-details-v1.html"
                                       title="Striped cotton-blend sweatshirt">
                                        <img src="#"
                                             data-src="../assets/images/products/product-09-75x100.jpg"
                                             alt="Striped cotton-blend sweatshirt" class="lazy-image"
                                             width="60" height="80">
                                    </a>
                                    <a href="../shop/product-details-v1.html"
                                       title="Striped cotton-blend sweatshirt" class="ms-6">
                                        <p class="fw-semibold text-body-emphasis mb-0">Striped
                                            cotton-blend sweatshirt</p>
                                    </a>
                                </div>
                            </td>


                            <td>$99.00</td>


                            <td>
													<span
                                                            class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-warning border-0 text-capitalize fs-12">Archived</span>
                            </td>


                            <td>02.11.2021</td>


                            <td class="text-center">
                                <div class="d-flex flex-nowrap justify-content-center">
                                    <a href="add-product-1.html"
                                       class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                            class="far fa-pen me-2"></i> Edit</a>
                                    <a href="#"
                                       class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i
                                            class="far fa-trash me-2"></i> Delete</a>
                                </div>
                            </td>

                        </tr>

                        <tr>

                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input rounded-0 ms-0" type="checkbox"
                                           id="transactionCheck-4">
                                    <label class="form-check-label"
                                           for="transactionCheck-4"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <a href="../shop/product-details-v1.html"
                                       title="Flowers cotton dress">
                                        <img src="#"
                                             data-src="../assets/images/products/product-03-75x100.jpg"
                                             alt="Flowers cotton dress" class="lazy-image" width="60"
                                             height="80">
                                    </a>
                                    <a href="../shop/product-details-v1.html"
                                       title="Flowers cotton dress" class="ms-6">
                                        <p class="fw-semibold text-body-emphasis mb-0">Flowers
                                            cotton dress</p>
                                    </a>
                                </div>
                            </td>


                            <td>$44.25</td>


                            <td>
													<span
                                                            class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-success border-0 text-capitalize fs-12">Active</span>
                            </td>


                            <td>02.11.2021</td>


                            <td class="text-center">
                                <div class="d-flex flex-nowrap justify-content-center">
                                    <a href="add-product-1.html"
                                       class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                            class="far fa-pen me-2"></i> Edit</a>
                                    <a href="#"
                                       class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i
                                            class="far fa-trash me-2"></i> Delete</a>
                                </div>
                            </td>

                        </tr>

                        <tr>

                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input rounded-0 ms-0" type="checkbox"
                                           id="transactionCheck-5">
                                    <label class="form-check-label"
                                           for="transactionCheck-5"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <a href="../shop/product-details-v1.html"
                                       title="Hoodie with pocket">
                                        <img src="#"
                                             data-src="../assets/images/products/product-04-75x100.jpg"
                                             alt="Hoodie with pocket" class="lazy-image" width="60"
                                             height="80">
                                    </a>
                                    <a href="../shop/product-details-v1.html"
                                       title="Hoodie with pocket" class="ms-6">
                                        <p class="fw-semibold text-body-emphasis mb-0">Hoodie with
                                            pocket</p>
                                    </a>
                                </div>
                            </td>


                            <td>$7.50</td>


                            <td>
													<span
                                                            class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-danger border-0 text-capitalize fs-12">Disabled</span>
                            </td>


                            <td>02.11.2021</td>


                            <td class="text-center">
                                <div class="d-flex flex-nowrap justify-content-center">
                                    <a href="add-product-1.html"
                                       class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                            class="far fa-pen me-2"></i> Edit</a>
                                    <a href="#"
                                       class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i
                                            class="far fa-trash me-2"></i> Delete</a>
                                </div>
                            </td>

                        </tr>

                        <tr>

                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input rounded-0 ms-0" type="checkbox"
                                           id="transactionCheck-6">
                                    <label class="form-check-label"
                                           for="transactionCheck-6"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <a href="../shop/product-details-v1.html"
                                       title="Oversize cotton sweatshirt">
                                        <img src="#"
                                             data-src="../assets/images/products/product-06-75x100.jpg"
                                             alt="Oversize cotton sweatshirt" class="lazy-image"
                                             width="60" height="80">
                                    </a>
                                    <a href="../shop/product-details-v1.html"
                                       title="Oversize cotton sweatshirt" class="ms-6">
                                        <p class="fw-semibold text-body-emphasis mb-0">Oversize
                                            cotton sweatshirt</p>
                                    </a>
                                </div>
                            </td>


                            <td>$43.50</td>


                            <td>
													<span
                                                            class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-success border-0 text-capitalize fs-12">Active</span>
                            </td>


                            <td>02.11.2021</td>


                            <td class="text-center">
                                <div class="d-flex flex-nowrap justify-content-center">
                                    <a href="add-product-1.html"
                                       class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                            class="far fa-pen me-2"></i> Edit</a>
                                    <a href="#"
                                       class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i
                                            class="far fa-trash me-2"></i> Delete</a>
                                </div>
                            </td>

                        </tr>

                        <tr>

                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input rounded-0 ms-0" type="checkbox"
                                           id="transactionCheck-7">
                                    <label class="form-check-label"
                                           for="transactionCheck-7"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <a href="../shop/product-details-v1.html"
                                       title="Striped cotton-blend sweatshirt">
                                        <img src="#"
                                             data-src="../assets/images/products/product-09-75x100.jpg"
                                             alt="Striped cotton-blend sweatshirt" class="lazy-image"
                                             width="60" height="80">
                                    </a>
                                    <a href="../shop/product-details-v1.html"
                                       title="Striped cotton-blend sweatshirt" class="ms-6">
                                        <p class="fw-semibold text-body-emphasis mb-0">Striped
                                            cotton-blend sweatshirt</p>
                                    </a>
                                </div>
                            </td>


                            <td>$99.00</td>


                            <td>
													<span
                                                            class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-warning border-0 text-capitalize fs-12">Archived</span>
                            </td>


                            <td>02.11.2021</td>


                            <td class="text-center">
                                <div class="d-flex flex-nowrap justify-content-center">
                                    <a href="add-product-1.html"
                                       class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                            class="far fa-pen me-2"></i> Edit</a>
                                    <a href="#"
                                       class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i
                                            class="far fa-trash me-2"></i> Delete</a>
                                </div>
                            </td>

                        </tr>

                        <tr>

                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input rounded-0 ms-0" type="checkbox"
                                           id="transactionCheck-8">
                                    <label class="form-check-label"
                                           for="transactionCheck-8"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <a href="../shop/product-details-v1.html"
                                       title="Flowers cotton dress">
                                        <img src="#"
                                             data-src="../assets/images/products/product-03-75x100.jpg"
                                             alt="Flowers cotton dress" class="lazy-image" width="60"
                                             height="80">
                                    </a>
                                    <a href="../shop/product-details-v1.html"
                                       title="Flowers cotton dress" class="ms-6">
                                        <p class="fw-semibold text-body-emphasis mb-0">Flowers
                                            cotton dress</p>
                                    </a>
                                </div>
                            </td>


                            <td>$44.25</td>


                            <td>
													<span
                                                            class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-success border-0 text-capitalize fs-12">Active</span>
                            </td>


                            <td>02.11.2021</td>


                            <td class="text-center">
                                <div class="d-flex flex-nowrap justify-content-center">
                                    <a href="add-product-1.html"
                                       class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                            class="far fa-pen me-2"></i> Edit</a>
                                    <a href="#"
                                       class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i
                                            class="far fa-trash me-2"></i> Delete</a>
                                </div>
                            </td>

                        </tr>

                        <tr>

                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input rounded-0 ms-0" type="checkbox"
                                           id="transactionCheck-9">
                                    <label class="form-check-label"
                                           for="transactionCheck-9"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <a href="../shop/product-details-v1.html"
                                       title="Hoodie with pocket">
                                        <img src="#"
                                             data-src="../assets/images/products/product-04-75x100.jpg"
                                             alt="Hoodie with pocket" class="lazy-image" width="60"
                                             height="80">
                                    </a>
                                    <a href="../shop/product-details-v1.html"
                                       title="Hoodie with pocket" class="ms-6">
                                        <p class="fw-semibold text-body-emphasis mb-0">Hoodie with
                                            pocket</p>
                                    </a>
                                </div>
                            </td>


                            <td>$7.50</td>


                            <td>
													<span
                                                            class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-danger border-0 text-capitalize fs-12">Disabled</span>
                            </td>


                            <td>02.11.2021</td>


                            <td class="text-center">
                                <div class="d-flex flex-nowrap justify-content-center">
                                    <a href="add-product-1.html"
                                       class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                            class="far fa-pen me-2"></i> Edit</a>
                                    <a href="#"
                                       class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i
                                            class="far fa-trash me-2"></i> Delete</a>
                                </div>
                            </td>

                        </tr>

                        <tr>

                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input rounded-0 ms-0" type="checkbox"
                                           id="transactionCheck-10">
                                    <label class="form-check-label"
                                           for="transactionCheck-10"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <a href="../shop/product-details-v1.html"
                                       title="Oversize cotton sweatshirt">
                                        <img src="#"
                                             data-src="../assets/images/products/product-06-75x100.jpg"
                                             alt="Oversize cotton sweatshirt" class="lazy-image"
                                             width="60" height="80">
                                    </a>
                                    <a href="../shop/product-details-v1.html"
                                       title="Oversize cotton sweatshirt" class="ms-6">
                                        <p class="fw-semibold text-body-emphasis mb-0">Oversize
                                            cotton sweatshirt</p>
                                    </a>
                                </div>
                            </td>


                            <td>$43.50</td>


                            <td>
													<span
                                                            class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-success border-0 text-capitalize fs-12">Active</span>
                            </td>


                            <td>02.11.2021</td>


                            <td class="text-center">
                                <div class="d-flex flex-nowrap justify-content-center">
                                    <a href="add-product-1.html"
                                       class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                            class="far fa-pen me-2"></i> Edit</a>
                                    <a href="#"
                                       class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i
                                            class="far fa-trash me-2"></i> Delete</a>
                                </div>
                            </td>

                        </tr>

                        <tr>

                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input rounded-0 ms-0" type="checkbox"
                                           id="transactionCheck-11">
                                    <label class="form-check-label"
                                           for="transactionCheck-11"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <a href="../shop/product-details-v1.html"
                                       title="Striped cotton-blend sweatshirt">
                                        <img src="#"
                                             data-src="../assets/images/products/product-09-75x100.jpg"
                                             alt="Striped cotton-blend sweatshirt" class="lazy-image"
                                             width="60" height="80">
                                    </a>
                                    <a href="../shop/product-details-v1.html"
                                       title="Striped cotton-blend sweatshirt" class="ms-6">
                                        <p class="fw-semibold text-body-emphasis mb-0">Striped
                                            cotton-blend sweatshirt</p>
                                    </a>
                                </div>
                            </td>


                            <td>$99.00</td>


                            <td>
													<span
                                                            class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-warning border-0 text-capitalize fs-12">Archived</span>
                            </td>


                            <td>02.11.2021</td>


                            <td class="text-center">
                                <div class="d-flex flex-nowrap justify-content-center">
                                    <a href="add-product-1.html"
                                       class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                            class="far fa-pen me-2"></i> Edit</a>
                                    <a href="#"
                                       class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i
                                            class="far fa-trash me-2"></i> Delete</a>
                                </div>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation example" class="mt-6 mb-4">
            <ul class="pagination justify-content-start">
                <li class="page-item active mx-3"><a class="page-link" href="#">01</a></li>
                <li class="page-item mx-3"><a class="page-link" href="#">02</a></li>
                <li class="page-item mx-3"><a class="page-link" href="#">03</a></li>
                <li class="page-item mx-3"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item mx-3"><a class="page-link" href="#">16</a></li>
                <li class="page-item mx-3">
                    <a class="page-link" href="#"><i class="far fa-chevron-right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <footer class="pt-6 pb-10 footer-dashboard mt-auto">
        <div class="row">
            <div class="col-sm-6 text-sm-start text-center">
                <script>
                    document.write(new Date().getFullYear());
                </script>
                © Glowing - Beauty & Cosmetics Shop HTML Template .
            </div>
            <div class="col-sm-6 text-sm-end text-center">
                All rights reserved
            </div>
        </div>
    </footer>
</main>