<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin_layout}">

<main id="content" class="bg-body-tertiary-01 d-flex flex-column main-content" th:fragment="content">
    <div class="dashboard-page-content">

        <div class="row mb-9 align-items-center justify-content-between">

            <div class="col-md-6 mb-8 mb-md-0">
                <h2 class="fs-4 mb-0">Product List</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-md-6 d-flex flex-wrap justify-content-md-end">


                <a href="#" class="btn btn-outline-primary btn-hover-bg-primary me-4">
                    Export
                </a>

                <a href="#" class="btn btn-outline-primary btn-hover-bg-primary me-4">
                    Import
                </a>

                <a href="add-product" class="btn btn-primary">
                    Create new
                </a>

            </div>
        </div>


        <div class="card mb-4 rounded-4 p-7">
            <div class="card-header bg-transparent px-0 pt-0 pb-7">
                <div class="row align-items-center justify-content-between">
                    <div class="row col-md-5" style="margin-left: 0; margin-bottom: 5px">
                        <!--                        <select class="form-select" id="categorySelect">-->
                        <!--                                <option selected="" data-select2-id="3">All Categories</option>-->
                        <!--                                <th:block th:each="category : ${categories}">-->
                        <!--                                    <option th:value="${category.categoryId}" th:text="${category.cateName}"></option>-->
                        <!--                                </th:block>-->
                        <!--                            </select>-->
                        <!--                        </div>-->
                        <!--                    <div class="row col-md-3">-->
                        <select class="form-select" id="subcategorySelect" onchange="applyFilters()">
                            <option selected="" data-select2-id="3">All Subcategories</option>
                            <th:block th:each="subcategory : ${subcategories}">
                                <option th:value="${subcategory.subCateId}"
                                        th:text="${subcategory.subCateName}"
                                        th:selected="${subcategory.subCateId == selectedSubCate}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 5px">
                        <div class="row justify-content-end flex-nowrap d-flex">
                            <!--                            <div class="col-lg-4 col-md-6 col-6">-->
                            <!--                                <input type="date" class="form-control bg-input border-0" id="dateSelect">-->
                            <!--                            </div>-->
                            <div class="col-lg-4 col-md-4 col-5">
                                <select class="form-select" id="statusSelect" onchange="applyFilters()">
                                    <option value=""
                                            th:selected="${selectedStatus == null}">All Status</option>
                                    <option value="true"
                                            th:selected="${selectedStatus == true}">Active</option>
                                    <option value="false"
                                            th:selected="${selectedStatus == false}">Disabled</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-7 pb-0">
                <div class="table-responsive">
                    <table class="table table-hover align-middle table-nowrap mb-0">
                        <thead class="table-light">
                        <tr>

                            <th scope="col" class="text-center">
                                <div class="form-check align-middle">
                                    <input class="form-check-input rounded-0 ms-0" type="checkbox"
                                           id="transactionCheck01">
                                    <label class="form-check-label"
                                           for="transactionCheck01"></label>
                                </div>
                            </th>
                            <th class="align-middle" scope="col">Product
                            </th>
                            <th class="align-middle" scope="col">Regular Price
                            </th>
                            <th class="align-middle" scope="col">Status
                            </th>
                            <th class="align-middle" scope="col">Create Date
                            </th>
                            <th class="align-middle" scope="col">
                            </th>

                        </tr>
                        </thead>

                        <tbody>

                        <tr th:each="product : ${products}">
                            <td class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input rounded-0 ms-0" type="checkbox"
                                           id="transactionCheck-0">
                                    <label class="form-check-label"
                                           for="transactionCheck-0"></label>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <a href="home/product-detail"
                                       title="Flowers cotton dress">
                                        <img th:src="@{/home/files/{filename}(filename=${product.getImgURL()})}"
                                             th:alt="${product.getProdName()}" class="lazy-image" width="60"
                                             height="80">
                                    </a>
                                    <a href="home/product-detail"
                                       th:title="${product.getProdName()}" class="ms-6">
                                        <p class="fw-semibold text-body-emphasis mb-0"
                                           th:text="${product.getProdName()}"></p>
                                    </a>
                                </div>
                            </td>


                            <td th:text="${product.getRegular()}"></td>


                            <td>
                                <span th:if="${product.getStatus() == true}"
                                      class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-success border-0 text-capitalize fs-12">Active</span>
                                <span th:if="${product.getStatus() == false}"
                                      class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-danger border-0 text-capitalize fs-12">Disabled</span>
                                <span th:if="${product.getStatus() == null}"
                                      class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-secondary border-0 text-capitalize fs-12">Unknown</span>
                            </td>


                            <td th:text="${#dates.format(product.getCreateDate(), 'yyyy-MM-dd')}"></td>

                            <td class="text-center">
                                <div class="d-flex flex-nowrap justify-content-center">
                                    <a th:href="@{edit-product/id={prodId}(prodId=${product.getProdId()})}"
                                       class="btn btn-primary py-4 px-5 btn-xs fs-13px me-4"><i
                                            class="far fa-pen me-2"></i> Edit</a>
                                    <a th:href="@{delete-product/id={prodId}(prodId=${product.getProdId()})}"
                                       class="btn btn-outline-primary btn-hover-bg-danger btn-hover-border-danger btn-hover-text-light py-4 px-5 fs-13px btn-xs me-4"><i
                                            class="far fa-trash me-2"></i> Delete</a>
                                </div>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation example" class="mt-6 mb-4">
            <ul class="pagination justify-content-center">
                <!-- Previous Button -->
                <li th:class="${currentPage == 0 ? 'page-item disabled' : 'page-item'}">
                    <a th:href="@{/admin/product-list(page=${currentPage - 1}, subcategoryId=${selectedSubCate}, status=${selectedStatus})}"
                       class="page-link"
                       aria-label="Previous">&lt;</a>
                </li>

                <!-- Page Numbers -->
                <th:block th:each="pageNumber : ${#numbers.sequence(0, totalPages - 1)}">
                    <li th:class="${pageNumber == currentPage ? 'page-item active' : 'page-item'}">
                        <a th:href="@{/admin/product-list(page=${pageNumber}, subcategoryId=${selectedSubCate}, status=${selectedStatus})}"
                           class="page-link"
                           th:text="${pageNumber + 1}"></a>
                    </li>
                </th:block>

                <!-- Next Button -->
                <li th:class="${currentPage == totalPages - 1 ? 'page-item disabled' : 'page-item'}">
                    <a th:href="@{/admin/product-list(page=${currentPage + 1}, subcategoryId=${selectedSubCate}, status=${selectedStatus})}"
                       class="page-link"
                       aria-label="Next">&gt;</a>
                </li>
            </ul>
        </nav>
    </div>

    <footer class="pt-6 pb-10 footer-dashboard mt-auto">
        <div class="row">
            <div class="col-sm-6 text-sm-start text-center">
                <script>
                    document.write(new Date().getFullYear());
                </script>
                © Glowing - Beauty & Cosmetics Shop HTML Template .
            </div>
            <div class="col-sm-6 text-sm-end text-center">
                All rights reserved
            </div>
        </div>
    </footer>

    <script>
        function applyFilters() {
            const selectedSubcategoryId = document.getElementById('subcategorySelect').value;
            const selectedStatus = document.getElementById('statusSelect').value;

            let url = '/admin/product-list?page=0';

            if (selectedSubcategoryId) {
                url += '&subcategoryId=' + (selectedSubcategoryId !== "All Subcategories" ? selectedSubcategoryId : "");
            }
            if (selectedStatus && selectedStatus !== "All Status" ) {
                url += '&status=' + (selectedStatus !== "All Status" ? selectedStatus : "");
            }

            // Redirect to the constructed URL
            window.location.href = url;
        }
    </script>
</main>