<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin_layout.html}">

<main id="content" class="bg-body-tertiary-01 d-flex flex-column main-content" th:fragment="content">
    <div class="dashboard-page-content">

        <div class="row mb-9 align-items-center justify-content-between">

            <div class="col-sm-6 mb-8 mb-sm-0">
                <h2 class="fs-4 mb-0">User List</h2>
            </div>
            <div class="col-sm-6 d-flex flex-wrap justify-content-sm-end">

            </div>
        </div>


        <div class="card mb-4 rounded-4 p-7">
            <div class="card-header bg-transparent px-0 pt-0 pb-7">
                <form class="row align-items-center justify-content-between">
                    <div class="col-md-4 col-12 mr-auto mb-md-0 mb-6">
                        <input id="searchQuery" type="text" placeholder="Search..."
                               class="form-control bg-input border-0">
                    </div>
                    <div class="col-md-8">
                        <div class="row justify-content-end flex-nowrap d-flex">
                            <div class="col-lg-3 col-md-6 col-6">
                                <select id="role" class="form-select">
                                    <option value="">Role: all</option>
                                    <option value="Admin">Admin</option>
                                    <option value="Manager">Manager</option>
                                    <option value="User">User</option>
                                </select>
                            </div>

                            <div class="col-lg-3 col-md-6 col-6">
                                <select id="status" class="form-select">
                                    <option value="">Status: all</option>
                                    <option value="1">Active</option>
                                    <option value="0">Disabled</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body px-0 pt-7 pb-0">
                <div class="table-responsive">
                    <table class="table table-hover align-middle table-nowrap mb-0 table-borderless">
                        <thead class="table-light">
                        <tr>
                            <th class="align-middle" scope="col">User
                            </th>
                            <th class="align-middle" scope="col">Role
                            </th>
                            <th class="align-middle" scope="col">Email
                            </th>
                            <th class="align-middle" scope="col">Status
                            </th>
                            <th class="align-middle" scope="col">Registered
                            </th>
                            <th class="align-middle text-center" scope="col">Action
                            </th>

                        </tr>
                        </thead>
                        <tbody>

                        <!-- Duyệt qua danh sách sản phẩm -->
                        <tr th:each="account : ${account}">
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img th:src="@{/home/files/{filename}(filename=${account.avatar != null ? account.avatar : 'default-avatar.jpg'})}"
                                         alt="Mary Monasa" width="60" height="60"
                                         class="lazy-image rounded-pill"
                                         style="object-fit: cover">
                                    <div class="ms-5">
                                        <a href="dashboard/sellers-profile.html"
                                           title="Mary Monasa" th:text="${account.fullname}"></a>
                                        <span class="d-block fs-13px text-muted">Account
                                                                ID#<span th:text="${account.accId}"></span></span>
                                    </div>
                                </div>
                            </td>

                            <div>
                                <div th:if="${account.role == T(com.fashionweb.Enum.Role).ADMIN}">

                                    <td>
                                        <span class="badge rounded-lg badge-soft-danger border-0 text-capitalize fs-12">ADMIN</span>
                                    </td>
                                </div>
                                <div th:if="${account.role == T(com.fashionweb.Enum.Role).MANAGER}">
                                    <td>
                                        <span class="badge rounded-lg badge-soft-success border-0 text-capitalize fs-12">MANAGER</span>
                                    </td>
                                </div>
                                <div th:if="${account.role == T(com.fashionweb.Enum.Role).USER}">
                                    <td>
                                        <span class="badge rounded-lg badge-soft-warning border-0 text-capitalize fs-12">USER</span>
                                    </td>
                                </div>
                            </div>

                            <td th:text="${account.email}"></td>
                            <div>
                                <div th:if="${account.enabled}">
                                    <td>
                                        <span class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-success border-0 text-capitalize fs-12">Active</span>
                                    </td>
                                </div>
                                <div th:unless="${account.enabled}">
                                    <td>
                                        <span class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-danger border-0 text-capitalize fs-12">Inactive</span>
                                    </td>
                                </div>
                            </div>

                            <td th:text="${account.createDate}"></td>

                            <div th:if="${account.role == T(com.fashionweb.Enum.Role).USER}">
                                <td class="text-center">
                                    <form action="/admin/addmanager" method="POST"
                                          onsubmit="showLoading(); return confirm('Bạn có chắc chắn chuyển người này lên làm quản lý không?')">
                                        <input type="hidden" name="id" th:value="${account.accId}">
                                        <input type="submit" class="btn btn-primary fs-13px btn-xs py-4"
                                               value="Add Manager" style="width: 145px">
                                    </form>
                                </td>
                            </div>

                            <div th:if="${account.role == T(com.fashionweb.Enum.Role).MANAGER}">
                                <td class="text-center">

                                    <form action="/admin/removemanager" method="POST"
                                          onsubmit="return confirm('Bạn có chắc chắn muốn loại bỏ quản lý này không?')">
                                        <input type="hidden" name="id" th:value="${account.accId}">
                                        <input type="submit" href="order-detail.html"
                                               class="btn btn-danger fs-13px btn-xs py-4 alert-danger"
                                               value="Remove Manager"></input>
                                    </form>
                                </td>
                            </div>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation example" class="mt-6 mb-4">
            <ul class="pagination justify-content-start">
                <!-- Trang trước -->
                <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                    <form th:action="@{/admin/userlist}" method="get" class="d-inline">
                        <input type="hidden" name="page" th:value="${currentPage - 1}"/>
                        <input type="hidden" name="size" th:value="${size}"/>
                        <button type="submit" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </button>
                    </form>
                </li>

                <!-- Các trang giữa -->
                <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                    class="page-item"
                    th:classappend="${i == currentPage ? 'active' : ''}">
                    <form th:action="@{/admin/userlist}" method="get" class="d-inline">
                        <input type="hidden" name="page" th:value="${i}"/>
                        <input type="hidden" name="size" th:value="${size}"/>
                        <button type="submit" class="page-link" th:text="${i + 1}">1</button>
                    </form>
                </li>

                <!-- Trang tiếp theo -->
                <li class="page-item" th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">
                    <form th:action="@{/admin/userlist}" method="get" class="d-inline">
                        <input type="hidden" name="page" th:value="${currentPage + 1}"/>
                        <input type="hidden" name="size" th:value="${size}"/>
                        <button type="submit" class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </button>
                    </form>
                </li>
            </ul>
        </nav>

    </div>

    <!-- Thẻ ẩn để lưu thông tin về errorMessage -->
    <input type="hidden" id="errorMessageValue" th:value="${alert != null ? 'true' : 'false'}"/>

    <!-- Modal thông báo lỗi -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title" id="errorModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span th:text="${alert}"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Loading -->
    <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true"
         data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p>Đang xử lý...</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="pt-6 pb-10 footer-dashboard mt-auto">
        <div class="row">
            <div class="col-sm-6 text-sm-start text-center">
                <script>
                    document.write(new Date().getFullYear());
                </script>
                © Glowing - Beauty & Cosmetics Shop HTML Template .
            </div>
            <div class="col-sm-6 text-sm-end text-center">
                All rights reserved
            </div>
        </div>
    </footer>

    <!-- JavaScript để kiểm tra lỗi và hiển thị modal -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const errorMessage = document.getElementById('errorMessageValue').value;
            if (errorMessage === 'true') {
                const errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                errorModal.show();
            }

            // // Sau khi hiển thị modal, đặt lại giá trị của thẻ ẩn về false
            // errorModal._element.addEventListener('shown.bs.modal', function () {
            //     errorInput.value = 'false';
            // });
        });
    </script>

    <script>
        function showLoading() {
            // Hiển thị modal loading khi form được gửi đi
            $('#loadingModal').modal('show');
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('#searchQuery').on('keypress', function (e) {
                if (e.which == 13) {  // Khi nhấn Enter
                    e.preventDefault(); // Ngăn chặn hành động mặc định (gửi form)
                    var searchQuery = $('#searchQuery').val();
                    var role = $('#role').val() || null; // Chuyển giá trị rỗng thành null
                    var status = $('#status').val() || null; // Chuyển giá trị rỗng thành null

                    // Gửi dữ liệu bằng AJAX
                    $.ajax({
                        url: '/admin/userlist_api', // Thay thế với URL controller của bạn
                        method: 'GET',
                        data: {
                            fullname: searchQuery,
                            enabled: status,
                            role: role
                        },
                        success: function (data) {
                            // // Xử lý phản hồi từ server (nếu cần)
                            // alert(response)
                            // console.log(response);
                            // $('html').html(response); // Thay đổi toàn bộ nội dung HTML
                            // $('#role').val(role);

                            // Xóa nội dung cũ trong tbody
                            $("tbody").empty();

                            // Duyệt qua danh sách tài khoản và tạo các hàng trong bảng
                            $.each(data.content, function (index, account) {
                                var tr = $("<tr></tr>");

                                tr.append(`
                            <td>
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src="/home/files/${account.avatar ? account.avatar : 'default-avatar.jpg'}"
                                         alt="${account.fullname}" width="60" height="60"
                                         class="lazy-image rounded-pill"
                                         style="object-fit: cover">
                                    <div class="ms-5">
                                        <a href="dashboard/sellers-profile.html" title="${account.fullname}">
                                            ${account.fullname}
                                        </a>
                                        <span class="d-block fs-13px text-muted">Account
                                            ID#${account.accId}</span>
                                    </div>
                                </div>
                            </td>
                            <td>

                                <span class="badge rounded-lg badge-soft-${getRoleBadge(account.role)} border-0 text-capitalize fs-12">
                                    ${account.role}
                                </span>
                            </td>
                            <td>${account.email}</td>
                            <td>
                                <span class="badge rounded-lg rounded-pill alert py-3 px-4 mb-0 alert-${account.enabled ? 'success' : 'danger'} border-0 text-capitalize fs-12">
                                    ${account.enabled ? 'Active' : 'Inactive'}
                                </span>
                            </td>
                            <td>${account.createDate}</td>
                            <td class="text-center">
                                ${getRoleActions(account.role, account.accId)}
                            </td>
                        `);

                                // Thêm tr vào tbody
                                $("tbody").append(tr);
                            });
                        }
                    });
                }
            });

            // Hàm xác định màu badge dựa trên vai trò
            function getRoleBadge(role) {
                switch (role) {
                    case "ADMIN":
                        return "danger";
                    case "MANAGER":
                        return "success";
                    case "USER":
                        return "warning";
                    default:
                        return "secondary";
                }
            }

            // Hàm xác định hành động dựa trên vai trò
            function getRoleActions(role, accId) {
                if (role === "USER") {
                    return `
                    <form action="/admin/addmanager" method="POST" onsubmit="return confirm('Bạn có chắc chắn chuyển người này lên làm quản lý không?')">
                        <input type="hidden" name="id" value="${accId}">
                        <input type="submit" class="btn btn-primary fs-13px btn-xs py-4" value="Add Manager" style="width: 145px">
                    </form>
                `;
                } else if (role === "MANAGER") {
                    return `
                    <form action="/admin/removemanager" method="POST" onsubmit="return confirm('Bạn có chắc chắn muốn loại bỏ quản lý này không?')">
                        <input type="hidden" name="id" value="${accId}">
                        <input type="submit" class="btn btn-danger fs-13px btn-xs py-4 alert-danger" value="Remove Manager">
                    </form>
                `;
                }
                return "";
            }
        });
    </script>
</main>
