<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/web_layout}">

<main id="content"
      class="bg-body-tertiary-01 d-flex flex-column main-content" th:fragment="content">
    <div class="dashboard-page-content" style="background-color: #f5f5f5;">

        <div class="row mb-9 align-items-center justify-content-between">

            <div class="col-sm-6 mb-8 mb-sm-0">
                <h2 class="fs-4 mb-0">Profile settings</h2>
            </div>
        </div>


        <div class="card mb-4 rounded-4 p-7">
            <div class="card-body pt-7 pb-0 px-0">
                <div class="row mx-n8">
                    <aside class="col-lg-3 border-end px-8">
                        <nav class="nav nav-pills flex-lg-column mb-7 nav-add-product">
                            <a class="nav-link" aria-current="page" href="/home/profile">General</a>
                            <a class="nav-link active" href="#">Address</a>
                        </nav>
                    </aside>
                    <!-- Main content -->
                    <div class="col-lg-9 px-3">
                        <div class="d-flex justify-content-between align-items-center mb-5">
                            <h5 class="mb-0 mx-4">My Address</h5>
                            <button class="btn btn-primary mx-4" data-bs-toggle="modal"
                                    data-bs-target="#addAddressModal">+ Add address
                            </button>
                        </div>
                        <div class="list-group" id="addressList">
                        </div>
                    </div>

                    <!-- Modal for Adding New Address -->
                    <div class="modal fade" id="addAddressModal" tabindex="-1"
                         aria-labelledby="addAddressModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addAddressModalLabel">Thêm địa chỉ mới</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="addAddress">
                                        <div class="mb-3">
                                            <label for="fullName" class="form-label">Họ và tên</label>
                                            <input type="text" name="fullName" class="form-control" id="fullName"
                                                   required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="phone" class="form-label">Số điện thoại</label>
                                            <input type="text" name="phone" class="form-control" id="phone" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="address" class="form-label">Địa chỉ</label>
                                            <textarea class="form-control" name="addr" id="address" rows="3"
                                                      required></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-3">Lưu</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Modal for Editing Address -->
                    <div class="modal fade" id="editAddressModal" tabindex="-1"
                         aria-labelledby="editAddressModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editAddressModalLabel">Cập nhật địa chỉ</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="updateAddress">
                                        <!-- Same form as adding, pre-filled with address data -->
                                        <div class="mb-3">
                                            <label for="editFullName" class="form-label">Họ và tên</label>
                                            <input name="fullName" type="text" class="form-control" id="editFullName"
                                                   value="Võ Văn Tuấn" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="editPhone" class="form-label">Số điện thoại</label>
                                            <input name="phone" type="text" class="form-control" id="editPhone"
                                                   value="+84 969 424 914" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="editAddress" class="form-label">Địa chỉ</label>
                                            <textarea name="addr" class="form-control" id="editAddress" rows="3"
                                                      required>63/16, Nguyễn Hữu Cầu, Quận 1</textarea>
                                        </div>
                                        <input type="hidden" id="idaddressupdate" value="">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="editDefaultAddress"
                                                   checked>
                                            <label class="form-check-label" for="editDefaultAddress">Đặt làm mặc
                                                định</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-3">Cập nhật</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- Thẻ ẩn để lưu thông tin về errorMessage -->
    <input type="hidden" id="errorMessageValue" th:value="${errorMessage != null ? 'true' : 'false'}" />

    <!-- Modal thông báo lỗi -->
    <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="errorModalLabel">Thông báo lỗi</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <span th:text="${errorMessage}"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript để kiểm tra lỗi và hiển thị modal -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const errorMessage = document.getElementById('errorMessageValue').value;
            if (errorMessage === 'true') {
                const errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                errorModal.show();
            }

            // Sau khi hiển thị modal, đặt lại giá trị của thẻ ẩn về false
            errorModal._element.addEventListener('shown.bs.modal', function () {
                errorInput.value = 'false';
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function loadAddress() {
                // Display user information after successful login
                $.ajax({
                    type: 'GET', // HTTP method
                    url: '/address', // API endpoint
                    dataType: 'json', // Expected response data type
                    contentType: 'application/json; charset=utf-8', // Content type
                    beforeSend: function (xhr) {
                        // Add authorization header if token exists in localStorage
                        if (localStorage.token) {
                            xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                        }
                    },
                    success: function (response) {

                        $('#addressList').empty()
                        // Kiểm tra nếu response.body là chuỗi JSON
                        let addressData = response.body;
                        if (typeof addressData === 'string') {
                            try {
                                addressData = JSON.parse(addressData);
                            } catch (e) {
                                console.error('Lỗi phân tích cú pháp JSON:', e);
                                return;
                            }
                        }

                        addressData.forEach(function (address) {
                            const addressItem = `
                                    <div class="list-group-item d-flex justify-content-between align-items-start py-10">
                                        <div>
                                            <h6 class="mb-6">${address.fullName}</h6>
                                            <p class="mb-2 small">
                                                <strong>Số điện thoại:</strong> ${address.phone}
                                            </p>
                                            <input type="hidden" id="idaddress" value="${address.id}">
                                            <p class="mb-3 small">${address.addr}</p>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <button
                                                class="btn btn-sm btn-outline-secondary me-1 edit-button"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editAddressModal"
                                                data-id="${address.id}"
                                                data-fullname="${address.fullName}"
                                                data-phone="${address.phone}"
                                                data-addr="${address.addr}">Cập nhật</button>
                                            <form action="/home/deladdr/${address.id}" method="POST" onsubmit="return confirm('Bạn có chắc chắn muốn xóa địa chỉ này không?')">
    <button type="submit" class="btn btn-sm btn-outline-danger">Xóa</button>
</form>
                                        </div>
                                    </div>
                                `;
                            document.querySelector('.list-group').innerHTML += addressItem;
                        });

                        const editFullName = document.getElementById("editFullName");
                        const editPhone = document.getElementById("editPhone");
                        const editAddress = document.getElementById("editAddress");
                        // const editAddressId = document.getElementById("idaddress");
                        const editButtons = document.querySelectorAll(".edit-button");
                        const idupdate = document.getElementById("idaddressupdate");

                        editButtons.forEach(button => {
                            button.addEventListener("click", function () {
                                const id = button.getAttribute("data-id");
                                const name = button.getAttribute("data-fullname");
                                const phone = button.getAttribute("data-phone");
                                const address = button.getAttribute("data-addr");

                                // Điền dữ liệu vào các trường trong modal
                                idupdate.value = id; // Nếu bạn cần chỉnh sửa ID
                                editFullName.value = name;
                                editPhone.value = phone;
                                editAddress.value = address;
                            });
                        });
                    },

                    error: function (e) {
                        // Handle errors
                        const json = e.responseText;
                        alert("Sorry, you are not logged in.");
                        console.error(json);
                    }
                });
            }




            $('#addAddress').on('submit', function (e) {
                // Hiển thị spinner khi bắt đầu xử lý
                const spinner = new bootstrap.Modal(document.getElementById('loadingSpinner'));
                spinner.show();

                e.preventDefault(); // Ngăn form submit mặc định

                // Lấy dữ liệu từ form và chuyển thành JSON
                const formDataArray = $('#addAddress').serializeArray(); // Lấy dữ liệu dạng mảng
                const formDataJson = {};

// Duyệt qua từng phần tử trong mảng để tạo đối tượng JSON
                formDataArray.forEach(field => {
                    // Nếu trường có giá trị thì thêm vào đối tượng JSON
                    if (field.value) {
                        formDataJson[field.name] = field.value;
                    }
                });

                // Lấy token từ localStorage
                const token = localStorage.getItem("token");
                if (!token) {
                    console.error('Token không tồn tại trong localStorage!');
                    return;
                }

                // Gửi request bằng AJAX
                $.ajax({
                    url: `/address`, // URL server xử lý
                    type: 'POST',          // Loại request
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(formDataJson),       // Dữ liệu từ form
                    headers: {
                        'Authorization': `Bearer ${token}` // Đính kèm JWT vào header
                    },
                    success: function (response) {

                        window.location.href = "/home/managerAddress";
                        spinner.hide(); // Ẩn spinner sau khi xử lý thành công
                        alert("Thêm thành công")
                    },
                    error: function (xhr, status, error) {
                        spinner.hide(); // Ẩn spinner sau khi xử lý thành công
                        // Nếu có lỗi, thông báo cho người dùng
                        alert('Lỗi: ' + xhr.responseJSON.body);
                    }
                });
            });


            $('#updateAddress').on('submit', function (e) {

                const idupdate = document.getElementById("idaddressupdate");
                let idaddr = idupdate.value
                // Hiển thị spinner khi bắt đầu xử lý
                const spinner = new bootstrap.Modal(document.getElementById('loadingSpinner'));
                spinner.show();

                e.preventDefault(); // Ngăn form submit mặc định

                // Lấy dữ liệu từ form và chuyển thành JSON
                const formDataArray = $('#updateAddress').serializeArray(); // Lấy dữ liệu dạng mảng
                const formDataJson = {};

// Duyệt qua từng phần tử trong mảng để tạo đối tượng JSON
                formDataArray.forEach(field => {
                    // Nếu trường có giá trị thì thêm vào đối tượng JSON
                    if (field.value) {
                        formDataJson[field.name] = field.value;
                    }
                });

                // Lấy token từ localStorage
                const token = localStorage.getItem("token");
                if (!token) {
                    console.error('Token không tồn tại trong localStorage!');
                    return;
                }

                // Gửi request bằng AJAX
                $.ajax({
                    url: `/address/${idaddr}`, // URL server xử lý
                    type: 'PUT',          // Loại request
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(formDataJson),       // Dữ liệu từ form
                    headers: {
                        'Authorization': `Bearer ${token}` // Đính kèm JWT vào header
                    },
                    success: function (response) {

                        window.location.href = "/home/managerAddress";
                        spinner.hide(); // Ẩn spinner sau khi xử lý thành công
                        alert("Update thành công")
                    },
                    error: function (xhr, status, error) {
                        spinner.hide(); // Ẩn spinner sau khi xử lý thành công
                        // Nếu có lỗi, thông báo cho người dùng
                        alert('Lỗi: ' + xhr.responseJSON.body);
                    }
                });
            });


            loadAddress()
        });
    </script>
</main>
</html>