<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/web_layout}">

<main id="content"
      class="bg-body-tertiary-01 d-flex flex-column main-content" th:fragment="content">
    <div class="dashboard-page-content" style="background-color: #f5f5f5;">

        <div class="row mb-9 align-items-center justify-content-between">

            <div class="col-sm-6 mb-8 mb-sm-0">
                <h2 class="fs-4 mb-0">Profile settings</h2>
            </div>
        </div>


        <div class="card mb-4 rounded-4 p-7">
            <div class="card-body pt-7 pb-0 px-0">
                <div class="row mx-n8">
                    <aside class="col-lg-3 border-end px-8">
                        <nav class="nav nav-pills flex-lg-column mb-7 nav-add-product">
                            <a class="nav-link active" aria-current="page" href="#">General</a>
                            <a class="nav-link" href="/home/managerAddress">Address</a>
                        </nav>
                    </aside>
                    <div class="col-lg-9 px-8">
                        <section class="p-xl-8">
                            <form class="form-border-1" id="FormUpDateInfo">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row gx-9">
                                            <div class="col-6 mb-6">
                                                <label class="mb-5 fs-13px ls-1 fw-semibold text-uppercase"
                                                       for="full-name">Full name</label> <input
                                                    class="form-control" type="text" placeholder="Type here"
                                                    id="full-name" name="fullname">
                                            </div>

                                            <div class="col-lg-6 mb-6">
                                                <label class="mb-5 fs-13px ls-1 fw-semibold text-uppercase"
                                                       for="email">Email</label> <input class="form-control"
                                                                                        type="email"
                                                                                        placeholder="example@mail.com"
                                                                                        id="email"
                                                                                        name="email">
                                            </div>

                                            <div class="col-lg-6 mb-6">
                                                <label class="mb-5 fs-13px ls-1 fw-semibold text-uppercase"
                                                       for="phone">Phone</label> <input class="form-control"
                                                                                        type="tel"
                                                                                        placeholder="+1234567890"
                                                                                        id="phone"
                                                                                        name="phone">
                                            </div>

                                            <div class="col-lg-6 mb-6">
                                                <label class="mb-5 fs-13px ls-1 fw-semibold text-uppercase">Gender</label>
                                                <div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="gender"
                                                               id="male" value="male" checked>
                                                        <label class="form-check-label" for="male">Nam</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="gender"
                                                               id="female" value="female">
                                                        <label class="form-check-label" for="female">Nữ</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 mb-6">
                                                <label class="mb-5 fs-13px ls-1 fw-semibold text-uppercase"
                                                       for="address">Address</label> <input class="form-control"
                                                                                            type="text"
                                                                                            placeholder="Type here"
                                                                                            id="address"
                                                                                            name="address">
                                            </div>

                                        </div>

                                    </div>

                                    <aside class="col-lg-4">
                                        <div class="text-lg-center">
                                            <div class="mx-auto">
                                                <img id="images" class="mb-9 rounded-pill lazy-image" src=""

                                                     alt="User Photo" height="196" width="196">

                                                <svg class="mb-9 rounded-pill lazy-image" id="avatar_2" alt="User Photo"
                                                     height="196" width="196" style="display: none"></svg>

                                            </div>
                                            <div>
                                                <label for="file-upload" class="upload-btn">
                                                    <i class="fas fa-cloud-upload-alt"></i> Upload
                                                </label>
                                                <input name="file" accept="image/*" onchange="chooseFile(this)" type="file" id="file-upload" style="display: none;"/>
                                            </div>
                                        </div>
                                    </aside>

                                </div>

                                <br>
                                <button class="btn btn-primary" type="submit">Save
                                    changes
                                </button>
                            </form>
                            <hr class="my-8">
                            <div class="row">
                                <div class="col-md-5">
                                    <article
                                            class="d-flex p-6 mb-6 bg-body-tertiary border rounded">
                                        <div class="mr-auto">
                                            <h6 class="fs-14px mb-0 font-weight-500">Password</h6>
                                            <small class="text-muted d-block" style="width: 70%">You
                                                can reset or change your password by clicking here</small>
                                        </div>
                                        <div>
                                            <a
                                                    class="btn border btn-hover-text-light btn-hover-bg-primary btn-hover-border-primary btn-sm"
                                                    href="#">Change</a>
                                        </div>

                                    </article>
                                </div>

                                <div class="col-md-5">
                                    <article
                                            class="d-flex p-6 mb-6 bg-body-tertiary border rounded">
                                        <div class="mr-auto">
                                            <h6 class="fs-14px mb-0 font-weight-500">Remove account</h6>
                                            <small class="text-muted d-block" style="width: 70%">Once
                                                you delete your account, there is no going back.</small>
                                        </div>
                                        <div>
                                            <a
                                                    class="btn border btn-hover-text-light btn-hover-bg-primary btn-hover-border-primary btn-sm"
                                                    href="#">Deactivate</a>
                                        </div>

                                    </article>
                                </div>

                            </div>

                        </section>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <script>
        document.getElementById("avatar_2").style.display = "none";

        document.addEventListener('DOMContentLoaded', function () {
            // Display user information after successful login
            $.ajax({
                type: 'GET', // HTTP method
                url: '/api/me', // API endpoint
                dataType: 'json', // Expected response data type
                contentType: 'application/json; charset=utf-8', // Content type
                beforeSend: function (xhr) {
                    // Add authorization header if token exists in localStorage
                    if (localStorage.token) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + localStorage.token);
                    }
                },
                success: function (data) {

                    $('#full-name').val(data.fullname);
                    $('#email').val(data.email);
                    $('#address').val(data.address);
                    $('#phone').val(data.phone);
                    if(data.avatar){
                        // Thay đổi thuộc tính src của thẻ img
                        $('#images').attr('src', `/home/files/${data.avatar}`);
                        document.getElementById("avatar_2").style.display = "none";
                    }

                    // Set gender radio button checked state based on data.gender
                    if (data.gender === 'male') {
                        $('#male').prop('checked', true);
                    } else if (data.gender === 'female') {
                        $('#female').prop('checked', true);
                    }

                },
                error: function (e) {
                    // Handle errors
                    const json = e.responseText;
                    alert("Sorry, you are not logged in.");
                    console.error(json);
                }
            });

            $('#FormUpDateInfo').on('submit', function (e) {
                // Hiển thị spinner khi bắt đầu xử lý
                const spinner = new bootstrap.Modal(document.getElementById('loadingSpinner'));
                spinner.show();

                e.preventDefault(); // Ngăn form submit mặc định

                var formData = new FormData(this); // Lấy dữ liệu từ form

                // Gửi request bằng AJAX
                $.ajax({
                    url: `/account`, // URL server xử lý
                    type: 'PUT',          // Loại request
                    // dataType: "json",
                    processData: false,  // Không xử lý dữ liệu
                    contentType: false,  // Không thiết lập content type
                    data: formData,       // Dữ liệu từ form
                    success: function (response) {
                        spinner.hide(); // Ẩn spinner sau khi xử lý thành công
                        alert('Response: ' + response.body)
                        console.log('Response:', response); // Xử lý thành công
                    },
                    error: function (xhr, status, error) {
                        spinner.hide(); // Ẩn spinner sau khi xử lý thành công
                        // Nếu có lỗi, thông báo cho người dùng
                        alert('Lỗi: ' + xhr.responseJSON.body);
                    }
                });
            });
        });


        function chooseFile(input) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('images').src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }

    </script>


    <style>
        .upload-btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            border: 1px solid #6c757d;
            border-radius: 5px;
            background-color: #fff;
            color: #6c757d;
            text-decoration: none;
            transition: all 0.3s ease;
        }

        .upload-btn i {
            margin-right: 8px;
        }

        .upload-btn:hover {
            background-color: #4e7661;
            color: #fff;
            /*border-color: #0d6efd;*/
        }

        img {
            object-fit: cover; /* Đảm bảo ảnh không méo, vừa khung */
        }
    </style>

</main>


</html>