<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/web_layout.html}">

<main id="content" class="bg-body-tertiary-01 d-flex flex-column main-content" th:fragment="content">
  <div class="dashboard-page-content">
    <div class="row mb-9 align-items-center justify-content-between">
      <div class="col-sm-6 mb-8 mb-sm-0">
        <h2 class="fs-4 mb-0">Order List</h2>
      </div>
    </div>

    <div class="card rounded-4">
      <header class="card-header bg-transparent p-7">
        <div class="row align-items-center">
          <div class="col-md-6 mb-lg-0 mb-6">
            <span class="d-inline-block"><i class="far fa-calendar me-3"></i>Aug 13, 2020</span>
            <br>
            <small class="text-muted">Order ID: 3453012</small>
          </div>
          <div class="col-md-6 ml-auto d-flex justify-content-md-end flex-wrap">
            <div class="mw-210 me-5 my-3">
              <select class="form-select">
                <option value="NEW">New</option>
                <option value="CONFIRMED">Confirmed</option>
                <option value="DELIVERING">Delivering</option>
                <option value="DELIVERED">Delivered</option>
                <option value="CANCEL">Cancel</option>
                <option value="RETURNED">Returned</option>
              </select>
            </div>
            <a class="btn btn-primary my-3" href="#">Save</a>
          </div>
        </div>
      </header>

      <div class="card-body p-7">
        <div class="row mb-8 mt-4 order-info-wrap">
          <div class="col-md-4 mb-md-0 mb-7">
            <div class="d-flex flex-nowrap">
              <div class="icon-wrap">
                        <span class="rounded-circle px-6 py-5 bg-green-light me-6 text-green d-inline-block">
                           <i class="fas fa-user px-1"></i>
                        </span>
              </div>
              <div class="media-body">
                <h6 class="mb-4">Customer</h6>
                <p class="mb-4">
                  John Alexander <br>
                  alex@example.com <br>
                  0345476123
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="d-flex flex-nowrap">
              <div class="icon-wrap">
                <span class="rounded-circle p-5 bg-green-light me-6 text-green d-inline-block">
                   <i class="fas fa-truck px-2"></i>
                </span>
              </div>
              <div class="media-body">
                <h6 class="mb-4">Deliver to</h6>
                <p class="mb-4">
                  1 Võ Văn Ngân, Linh Chiểu, Thủ Đức <br>
                  Võ Nguyễn Hòa Lạc Dương <br>
                  0345476211
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7">
            <div class="table-responsive">
              <table class="table table-borderless">
                <thead>
                <tr>
                  <th class="align-middle" scope="col">Product</th>
                  <th class="align-middle" scope="col">Size Name</th>
                  <th class="align-middle" scope="col">Unit Price</th>
                  <th class="align-middle" scope="col">Quantity</th>
                </tr>
                </thead>
                <tbody><tr>
                  <td>
                    <div class="d-flex align-items-center flex-nowrap">
                      <a href="../shop/product-details-v1.html"
                         title="Flowers cotton dress">
                        <img src="#" data-src="../assets/images/products/product-03-75x100.jpg"
                             alt="Flowers cotton dress" class="lazy-image" width="60" height="80">
                      </a>
                      <a href="../shop/product-details-v1.html"
                         title="Flowers cotton dress" class="ms-6">
                        <p class="fw-semibold text-body-emphasis mb-0">Flowers cotton dress</p>
                      </a>
                    </div>
                  </td>
                  <td>$44.25</td>
                  <td>2</td>
                  <td class="text-end">$88.50</td>
                </tr>
                <tr>
                  <td colspan="4">
                    <div class="d-flex flex-column align-items-end justify-content-end">
                      <div class="mw-40 w-40">
                        <div class="d-flex w-100">
                          <span class="d-inline-block w-50">Subtotal:</span>
                          <span class="d-inline-block w-50 text-end fw-normal">$973.35</span>
                        <div class="d-flex w-100">
                          <span class="d-inline-block w-50 text-muted">Status:</span>
                          <span class="d-inline-block w-50 text-end fs-20 fw-semibold">
                            <span class="badge rounded-pill alert alert-success text-success fs-12px px-4 py-3">Payment done</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</html>