<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{web/web_layout.html}">

<main id="content" class="wrapper layout-page" th:fragment="content">
    <section class="page-title z-index-2 position-relative">

        <div class="bg-body-secondary">
            <div class="container">
                <nav class="py-4 lh-30px" aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center py-1">
                        <li class="breadcrumb-item"><a href="/index-2.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Our Shop</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="text-center py-13">
            <div class="container">
                <h3 class="mb-0">Fashion With Passion</h3>
            </div>
        </div>
    </section>

    <section class="container container-xxl">
        <div class="tool-bar mb-11 align-items-center justify-content-between d-lg-flex">
            <div class="tool-bar-left mb-6 mb-lg-0 fs-18px">We found <span
                    class="text-body-emphasis fw-semibold" th:text="${prodCount}"></span> products available for you
            </div>
            <div class="tool-bar-right align-items-center d-flex ">
                <ul class="list-unstyled d-flex align-items-center list-inline mb-0 ms-auto">
                    <li class="list-inline-item me-0">
                        <select class="form-select" id="sortingSelect" onchange="changeSorting()">
                            <option value="" th:selected="${selectedSorting == null}">Default sorting</option>
                            <option value="latest" th:selected="${selectedSorting == 'latest'}">Sort by latest</option>
                            <option value="rating" th:selected="${selectedSorting == 'rating'}">Sort by rating: high to
                                low
                            </option>
                            <option value="rating-asc" th:selected="${selectedSorting == 'rating-asc'}">Sort by rating:
                                low to high
                            </option>
                            <option value="price" th:selected="${selectedSorting == 'price'}">Sort by price: low to
                                high
                            </option>
                            <option value="price-desc" th:selected="${selectedSorting == 'price-desc'}">Sort by price:
                                high to low
                            </option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <div class="container container-xxl pb-16 pb-lg-18">
        <div class="row">
            <div class="col-lg-9 order-lg-1">
                <div class="row gy-11">
                    <th:block th:each="product : ${products}">
                        <div class="col-sm-6 col-lg-4 col-xl-3" th:if="${product.isSale}">
                            <div class="card card-product grid-2 bg-transparent border-0" data-animate="fadeInUp">
                                <figure class="card-img-top position-relative mb-7 overflow-hidden">
                                    <a th:href="@{/home/shop/product-detail/id={prodId}(prodId=${product.prodId})}"
                                       class="hover-zoom-in d-block"
                                       th:title="${product.prodName}">
                                        <img src="#" th:data-src="@{/home/files/{filename}(filename=${product.imgURL})}"
                                             class="img-fluid lazy-image w-100" th:alt="${product.prodName}" width="330"
                                             height="440">
                                    </a>
                                    <div class="position-absolute product-flash z-index-2 "><span
                                            class="position-absolute badge badge-product-flash on-sale bg-primary"
                                            th:text="'-' + ${product.percent} + '%'"></span></div>
                                    <div class="product-flash z-index-2 "><span
                                            class="badge badge-product-flash on-best" th:if="${product.isBest}"
                                            th:text="Best"></span></div>
                                </figure>
                                <div class="card-body text-center p-0">

									<span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6">
										<del class=" text-body fw-500 me-4 fs-13px"
                                             th:text="'$'+${product.regular}"></del>
										<ins class="text-decoration-none" th:text="'$'+${product.promo}"></ins></span>

                                    <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                        <a class="text-decoration-none text-reset"
                                           th:href="@{/home/shop/product-detail/id={prodId}(prodId=${product.prodId})}"
                                           th:text="${product.prodName}"></a></h4>
                                    <div class="d-flex align-items-center fs-12px justify-content-center">
                                        <div class="rating">
                                            <div class="empty-stars">
                                            <span class="star">
													<svg class="icon star-o">
														<use xlink:href="#star-o"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star-o">
														<use xlink:href="#star-o"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star-o">
														<use xlink:href="#star-o"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star-o">
														<use xlink:href="#star-o"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star-o">
														<use xlink:href="#star-o"></use>
													</svg>
												</span>
                                            </div>
                                            <div class="filled-stars" th:style="'width: ' + ${product.rating} + '%;'">
                                            <span class="star">
													<svg class="icon star text-primary">
														<use xlink:href="#star"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star text-primary">
														<use xlink:href="#star"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star text-primary">
														<use xlink:href="#star"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star text-primary">
														<use xlink:href="#star"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star text-primary">
														<use xlink:href="#star"></use>
													</svg>
												</span>
                                            </div>
                                        </div>
                                        <span class="reviews ms-4 pt-3 fs-14px"
                                              th:text="${product.reviewCount}+' reviews'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xl-3" th:unless="${product.isSale}">
                            <div class="card card-product grid-2 bg-transparent border-0" data-animate="fadeInUp">
                                <figure class="card-img-top position-relative mb-7 overflow-hidden">
                                    <a th:href="@{/home/shop/product-detail/id={prodId}(prodId=${product.prodId})}"
                                       class="hover-zoom-in d-block"
                                       th:title="${product.prodName}">
                                        <img src="#" th:data-src="@{/home/files/{filename}(filename=${product.imgURL})}"
                                             class="img-fluid lazy-image w-100" alt="Perfecting Facial Oil" width="330"
                                             height="440">
                                    </a>
                                    <div class="product-flash z-index-2 "><span
                                            class="badge badge-product-flash on-best" th:if="${product.isBest}"
                                            th:text="Best"></span></div>
                                </figure>
                                <div class="card-body text-center p-0">

                                    <span class="d-flex align-items-center price text-body-emphasis fw-bold justify-content-center mb-3 fs-6"
                                          th:text="'$'+${product.regular}"></span>

                                    <h4 class="product-title card-title text-primary-hover text-body-emphasis fs-15px fw-500 mb-3">
                                        <a class="text-decoration-none text-reset"
                                           th:href="@{/home/shop/product-detail/id={prodId}(prodId=${product.prodId})}"
                                           th:text="${product.prodName}"></a></h4>
                                    <div class="d-flex align-items-center fs-12px justify-content-center">
                                        <div class="rating">
                                            <div class="empty-stars">
												<span class="star">
													<svg class="icon star-o">
														<use xlink:href="#star-o"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star-o">
														<use xlink:href="#star-o"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star-o">
														<use xlink:href="#star-o"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star-o">
														<use xlink:href="#star-o"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star-o">
														<use xlink:href="#star-o"></use>
													</svg>
												</span>
                                            </div>
                                            <div class="filled-stars" th:style="'width: ' + ${product.rating} + '%;'">
                                            <span class="star">
													<svg class="icon star text-primary">
														<use xlink:href="#star"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star text-primary">
														<use xlink:href="#star"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star text-primary">
														<use xlink:href="#star"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star text-primary">
														<use xlink:href="#star"></use>
													</svg>
												</span>
                                                <span class="star">
													<svg class="icon star text-primary">
														<use xlink:href="#star"></use>
													</svg>
												</span>
                                            </div>
                                        </div>
                                        <span class="reviews ms-4 pt-3 fs-14px"
                                              th:text="${product.reviewCount}+' reviews'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <nav class="d-flex mt-13 pt-3 justify-content-center" aria-label="pagination" data-animate="fadeInUp">
                    <ul class="pagination m-0">
                        <!-- Previous Page Link -->
                        <li class="page-item">
                            <a class="page-link rounded-circle d-flex align-items-center justify-content-center"
                               th:href="@{/home/shop(page=${currentPage - 1}, subCateId=${selectedSubCateId}, sort=${selectedSorting})}"
                               aria-label="Previous"
                               th:classappend="${currentPage == 0} ? 'disabled'">
                                <svg class="icon">
                                    <use xlink:href="#icon-angle-double-left"></use>
                                </svg>
                            </a>
                        </li>

                        <!-- Page Number Links -->
                        <th:block th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}">
                            <li class="page-item" th:class="${pageNum == currentPage} ? 'active'">
                                <a class="page-link"
                                   th:href="@{/home/shop(page=${pageNum}, subCateId=${selectedSubCateId}, sort=${selectedSorting})}"
                                   th:text="${pageNum + 1}"></a>
                            </li>
                        </th:block>

                        <!-- Next Page Link -->
                        <li class="page-item">
                            <a class="page-link rounded-circle d-flex align-items-center justify-content-center"
                               th:href="@{/home/shop(page=${currentPage + 1}, subCateId=${selectedSubCateId}, sort=${selectedSorting})}"
                               aria-label="Next"
                               th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                                <svg class="icon">
                                    <use xlink:href="#icon-angle-double-right"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
            <div class="col-lg-3 d-lg-block d-none">
                <div class="position-sticky top-0">

                    <aside class="primary-sidebar pe-xl-9 me-xl-2 mt-12 pt-2 mt-lg-0 pt-lg-0">
                        <div class="widget widget-product-category">
                            <h4 class="widget-title fs-5 mb-6">Category</h4>
                            <ul class="navbar-nav navbar-nav-cate" id="widget_product_category">
                                <!-- Category -->
                                <li class="nav-item">
                                    <a href="" title="All"
                                       class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center text-uppercase fs-14px fw-semibold letter-spacing-5 active"
                                       onclick="changeSorting(event)" data-subcate-id="0">
                                        <span class="text-hover-underline">All</span>
                                    </a>
                                </li>
                                <li class="nav-item" th:each="category : ${categories}">
                                    <a href="" th:title="${category.cateName}"
                                       class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center text-uppercase fs-14px fw-semibold letter-spacing-5 active"
                                       onclick="changeSorting(event)">
                                        <span class="text-hover-underline me-2" th:text="${category.cateName}"></span>
                                        <span data-bs-toggle="collapse" th:data-bs-target="'#cat_' + ${category.cateId}"
                                              class="caret flex-grow-1 d-flex align-items-center justify-content-end collapsed">
                                            <svg class="icon">
                                                <use xlink:href="#icon-plus"></use>
                                            </svg>
                                        </span>
                                    </a>
                                    <div th:id="'cat_' + ${category.cateId}" class="collapse show"
                                         data-bs-parent="#widget_product_category">
                                        <ul class="navbar-nav nav-submenu ps-8">
                                            <li class="nav-item" th:each="subcategory : ${category.subcates}">
                                                <a href=""
                                                   class="text-reset position-relative d-block text-decoration-none text-body-emphasis-hover d-flex align-items-center"
                                                   th:data-subcate-id="${subcategory.subCateId}"
                                                   onclick="changeSorting(event)">
                                                    <span class="text-hover-underline"
                                                          th:text="${subcategory.subCateName}"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <script>
        function changeSorting() {
            const selectedSorting = document.getElementById('sortingSelect').value;

            const clickedElement = event.target.closest('a'); // Get the closest <a> element
            const selectedSubcategory = clickedElement ? clickedElement.getAttribute('data-subcate-id') : null;

            let url = '/home/shop?page=0';

            if (selectedSubcategory) {
                url += '&subCateId=' + (selectedSubcategory !== "0" ? selectedSubcategory : "");
            }
            if (selectedSorting) {
                url += '&sort=' + (selectedSorting !== "Default sorting" ? selectedSorting : "");
            }

            window.location.href = url;
        }
    </script>
</main>